@import '../../styles/variables.scss';

#SearchList {
  #search-list-container {
    @include flexSet(column);

    .search-link {
      text-decoration: none;
      color: #5b5752;
    }

    #search-list-items {
      border: 0;
      margin-left: 0;
      padding: 20px 0 20px 10px;

      img {
        width: 14px;
        height: 14px;
      }

      p {
        padding-left: 10px;
      }
    }
  }
}
