@import '../../styles/variables.scss';

.main-container {
  @include flexSet(column, center, center);
  background-color: $outer_background_color;

  .background {
    margin-top: 100px;
    width: 500px;
    background-color: $all_background_color;
  }
}
