$all_background_color: #ffffff;
$detail_product_company_color: #bab8b5;
$detail_product_origin_color: #bab8b5;
$detail_product_price_color: #bab8b5;
$detail_product_discount_price_color: #45433f;
$detail_product_percentage_color: #f55a04;
$detail_product_purchase_button_color: #f45b01;
$detail_product_purchase_text_color: #ffffff;
$detail_product_rating_color: #ffb121;
$detail_product_recommend_title_color: #46433f;
$detail_product_review_color: #bbbbbb;
$detail_product_title_color: #45433f;
$detail_tab_border_color: #ededed;
$detail_tab_border_bottom_color: #eb5402;
$detail_tab_text_color: #eb5402;
$all_white_color: #ffffff;
$all_blank_background_color: #f4f4f4;
$header_font_color: #45433f;
$header_search_icon_color: #45433f;
$header_underline_color: #eb5402;
$header_border_color: #e5e5e5;
$cart_link_color: #f55b04;
$cart_best_product_text_color: #45433f;
$cart_text_color: #c9c6c4;
$footer_content_text_color: #605c57;
$footer_divide_line_color: #e9e8e2;
$footer_subject_text_color: #bcb9b6;
$footer_title_text_color: #605c57;
$header_hover_font_color: #f55a04;
$login_border_color: #ededed;
$login_bold_font_color: #f55a04;
$login_button_color: #f55a04;
$login_button_font_color: #ffffff;
$login_checkbox_inactive_color: #bab8b5;
$login_checkbox_active_color: #5b5753;
$login_font_color: #45433f;
$login_icon_color: #45433f;
$login_input_border_color: #e0e0e0;
$login_input_bold_border_color: #45433f;
$login_link_font_color: #5b5753;
$login_placeholder_font_color: #bab8b5;
$outer_background_color: #f9f9f9;
$register_allow_font_color: #579bdb;
$register_agree_section_border_color: #eceded;
$register_first_checkbox_section_background_color: #f9f9f9;
$register_error_font_color: #f55b04;
$register_input_border_color: #e0e0e0;
$register_input_font_color: #bdbab7;
$register_subject_font_color: #5b5752;
$register_submit_background_color: #f3f3f0;
$register_submit_button_color: #f55b04;
$register_submit_font_color: #bbb8b5;
$register_title_font_color: #46433f;
$search_bar_background_color: #f6f6f6;
$search_bar_icon_color: #f55b04;
$search_keyword_border_color: #e9e9e9;
$search_text_color: #5b5752;
$bottomnav_border_color: #e9e8e1;
$bottomnav_font_color: #45433f;
$bottomnav_hover_color: #f55b04;
$bottomModal_close_button_color: #5b5752;
$bottomModal_option_border_color: #ededed;
$bottomModal_option_selected_border: #5b5752;
$bottomModal_option_title_color: #9d9995;
$bottomModal_option_value_color: #5b5752;
$bottomModal_title_color: #45433f;
$bottomModal_total_quantity_color: #f55b04;
$bottomModal_total_font_color: #5b5752;
$bottomModal_total_sum_color: #45433f;
$bottomModal_submit_button_background_color: #f55b04;
$bottomModal_submit_text_color: #ffffff;
$favorite_title_color: #45433f;
$favorite_text_color: #5b5752;
$favorite_login_button_color: #f55b04;
$favorite_login_text_color: #ffffff;
$favorite_join_text_color: #9d9995;
$favorite_join_hover_color: #45433f;
$favorite_empty_text_color: #bbb8b5;
$favorite_wish_popular_text_color: #5b5752;
$favorite_vertical_card_text_color: #5b5752;
$favorite_vertical_card_review_color: #bbb8b5;
$favorite_horizontal_card_text_color: #404040;
$bargain_highlight_text_color: #f56b1d;
$bargain_text_color: #46433f;
$bargain_before_price_text_color: #bbb8b5;
$bargain_percent_color: #f56b1d;
$bargain_button_color: #f55b04;
$bargain_detail_text_color: #999999;
$modal_white_color: #ffffff;
$modal_button_color: #f55b04;
$product-menu-button-background-color: #f9f9f9;
$product-menu-button-text-color: #46433f;
$product-menu-button-clicked-background-color: #45433f;
$product-menu-button-clicked-text-color: #ffffff;
$product-card-text-color: #46433f;
$product-card-before-price-color: #bbb8b5;
$prodcut-card-discount-percentage-color: #f55b04;
$product-card-review-color: #bbb8b5;
$product-card-new-status-background-color: #f55b04;

@mixin flexSet($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
