$all_background_color: #ffffff;
$all_white_color: #ffffff;
$all_blank_background_color: #f4f4f4;
$header_font_color: #45433f;
$header_search_icon_color: #45433f;
$header_underline_color: #eb5402;
$header_border_color: #e5e5e5;
$header_hover_font_color: #f55a04;
$login_border_color: #ededed;
$login_bold_font_color: #f55a04;
$login_button_color: #f55a04;
$login_button_font_color: #ffffff;
$login_checkbox_inactive_color: #bab8b5;
$login_checkbox_active_color: #5b5753;
$login_font_color: #45433f;
$login_icon_color: #45433f;
$login_input_border_color: #e0e0e0;
$login_input_bold_border_color: #45433f;
$login_link_font_color: #5b5753;
$login_placeholder_font_color: #bab8b5;
$outer_background_color: #f9f9f9;
$register_allow_font_color: #579bdb;
$register_error_font_color: #f55b04;
$register_input_border_color: #e0e0e0;
$register_input_font_color: #bdbab7;
$register_subject_font_color: #5b5752;
$register_submit_background_color: #f3f3f0;
$register_submit_button_color: #f55b04;
$register_submit_font_color: #bbb8b5;
$register_title_font_color: #46433f;
$bottomnav_border_color: #e9e8e1;
$bottomnav_font_color: #45433f;
$bottomnav_hover_color: #f55b04;
$favorite_title_color: #45433f;
$favorite_text_color: #5b5752;
$favorite_login_button_color: #f55b04;
$favorite_login_text_color: #ffffff;
$favorite_join_text_color: #9d9995;
$favorite_join_hover_color: #45433f;
$favorite_empty_text_color: #bbb8b5;
$favorite_wish_popular_text_color: #5b5752;
$favorite_vertical_card_text_color: #5b5752;
$favorite_vertical_card_review_color: #bbb8b5;
$favorite_horizontal_card_text_color: #404040;
$bargain_highlight_text_color: #f56b1d;
$bargain_text_color: #46433f;
$bargain_before_price_text_color: #bbb8b5;
$bargain_percent_color: #f56b1d;
$bargain_button_color: #f55b04;
$bargain_detail_text_color: #999999;
$modal_white_color: #ffffff;
$modal_button_color: #f55b04;
$product-menu-button-background-color: #f9f9f9;
$product-menu-button-text-color: #46433f;
$product-menu-button-clicked-background-color: #45433f;
$product-menu-button-clicked-text-color: #ffffff;
$product-card-text-color: #46433f;
$product-card-before-price-color: #bbb8b5;
$prodcut-card-discount-percentage-color: #f55b04;
$product-card-review-color: #bbb8b5;
$product-card-new-status-background-color: #f55b04;
@mixin flexSet($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
