$all_background_color: #ffffff;
$detail_product_company_color: #bab8b5;
$detail_product_origin_color: #bab8b5;
$detail_product_price_color: #45433f;
$detail_product_purchase_button_color: #f45b01;
$detail_product_purchase_text_color: #ffffff;
$detail_product_rating_color: #ffb121;
$detail_product_recommend_title_color: #46433f;
$detail_product_review_color: #bbbbbb;
$detail_product_title_color: #45433f;
$detail_tab_border_color: #ededed;
$detail_tab_border_bottom_color: #eb5402;
$detail_tab_text_color: #eb5402;
$header_font_color: #45433f;
$header_search_icon_color: #45433f;
$header_underline_color: #eb5402;
$header_border_color: #e5e5e5;
$header_hover_font_color: #f55a04;
$login_border_color: #ededed;
$login_bold_font_color: #f55a04;
$login_button_color: #f55a04;
$login_button_font_color: #ffffff;
$login_checkbox_inactive_color: #bab8b5;
$login_checkbox_active_color: #5b5753;
$login_font_color: #45433f;
$login_icon_color: #45433f;
$login_input_border_color: #e0e0e0;
$login_input_bold_border_color: #45433f;
$login_link_font_color: #5b5753;
$login_placeholder_font_color: #bab8b5;
$outer_background_color: #f9f9f9;
$register_allow_font_color: #579bdb;
$register_error_font_color: #f55b04;
$register_input_border_color: #e0e0e0;
$register_input_font_color: #bdbab7;
$register_subject_font_color: #5b5752;
$register_submit_background_color: #f3f3f0;
$register_submit_button_color: #f55b04;
$register_submit_font_color: #bbb8b5;
$register_title_font_color: #46433f;
$bottomnav_border_color: #e9e8e1;
$bottomnav_font_color: #45433f;
$bottomnav_hover_color: #f55b04;
$bottomModal_close_button_color: #5b5752;
$bottomModal_option_border_color: #ededed;
$bottomModal_option_selected_border: #5b5752;
$bottomModal_option_title_color: #9d9995;
$bottomModal_option_value_color: #5b5752;
$bottomModal_title_color: #45433f;
$bottomModal_total_quantity_color: #f55b04;
$bottomModal_total_font_color: #5b5752;
$bottomModal_total_sum_color: #45433f;
$bottomModal_submit_button_background_color: #f55b04;
$bottomModal_submit_text_color: #ffffff;
$favorite_title_color: #45433f;
$favorite_text_color: #5b5752;
$favorite_login_button_color: #f55b04;
$favorite_login_text_color: #ffffff;
$favorite_join_text_color: #9d9995;

@mixin flexSet($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
