@import '../../styles/variables.scss';

.header-wrapper {
  background-color: var(--all_background_color);
  @include flexSet(column, center, center);
}

.header-container {
  @include flexSet(row, space-between, center);
  width: 500px;
  height: 60px;
}

.logo-button {
  background-color: var(--all_background_color);
  border: none;
  width: 100px;
  padding: 0px;
}

.logo {
  width: 100px;
}

.header-top-menu,
.header-top-menu-list {
  @include flexSet(row, space-between, center);
  width: 500px;
  height: 40px;
  border-bottom: 1px solid var(--login_border_color);
  font-size: 14px;
}

.header-top-menu {
  padding: 0px 18px;
}

.menu-link {
  padding: 12px 2px;
  text-decoration: none;
  color: var(--header_font_color);
}

.menu-link:hover {
  color: var(--header_hover_font_color);
}

.menu-clikced {
  font-weight: 700;
  border-bottom: 1px solid var(--header_underline_color);
}
