@import '../../styles/variables.scss';

.bottom-container {
  position: fixed;
  bottom: 0;
  @include flexSet(column, center, center);
  background-color: $outer_background_color;
  z-index: 2;

  .background {
    width: 500px;
    height: 65px;
    background-color: $all_background_color;
    border-top: 1px solid $bottomnav_border_color;
  }

  .list-wrapper {
    @include flexSet(row, center, center);
    width: 500px;
    height: 65px;

    li {
      width: 125px;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      color: $bottomnav_font_color;

      .icon-link {
        @include flexSet(column, center, center);
        height: 65px;
        width: 125px;
        text-decoration: none;
        color: $login_link_font_color;

        &:hover {
          filter: invert(34%) sepia(41%) saturate(3476%) hue-rotate(8deg)
            brightness(100%) contrast(97%);
        }

        span {
          padding-top: 8px;
        }
      }

      .icon-selected {
        @include flexSet(column, center, center);
        height: 65px;
        width: 125px;
        text-decoration: none;
        color: $login_link_font_color;
        filter: invert(34%) sepia(41%) saturate(3476%) hue-rotate(8deg)
          brightness(100%) contrast(97%);

        span {
          padding-top: 8px;
        }
      }
    }
  }
}
