@import '../../styles/variables.scss';

.footer-container {
  width: 440px;
  padding: 0 20px;
  @include flexSet(column, center, flex-start);
  .footer-title {
    margin: 20px 0;
    color: $footer_title_text_color;
  }

  .divide-line {
    width: 440px;
    border: 1px solid $footer_divide_line_color;
  }

  .footer-content {
    margin: 20px 0;
    font-size: 13px;
    > article {
      &:not(:first-child) {
        margin-top: 10px;
      }

      > .title {
        color: $footer_subject_text_color;
      }
      > .content {
        margin-left: 10px;
        color: $footer_content_text_color;
      }
    }
  }
}
