@import '../../styles/variables.scss';

.footer-container {
  width: 500px;
  padding: 10px 18px 70px 18px;
  @include flexSet(column, flex-start, flex-start);

  .footer-title {
    margin: 20px 0;
    color: $footer_title_text_color;
  }

  .divide-line {
    width: 470px;
    border-bottom: 1px solid $footer_divide_line_color;
  }

  .footer-content {
    padding: 20px 0;
    font-size: 13px;
    > article {
      &:not(:first-child) {
        margin-top: 12px;
      }

      > .title {
        color: $footer_subject_text_color;
      }
      > .content {
        margin-left: 10px;
        color: $footer_content_text_color;
      }
    }
  }
}
